<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
   <classes>
    <class name="automation_testng.Radio_Button_Test">
     <methods>
       <include name = "test_oneway_rbutton"/>
       <include name = "test_roundtrip_rbutton"/>
     </methods>
    </class>  
   </classes>
   <classes>
    <class name="automation_testng.Radio_Button_Test">
     <methods>
       <include name = "test_oneway_rbutton"/>
       <include name = "test_roundtrip_rbutton"/>
     </methods>
    </class>  
   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->




